<p id="notice"><%= notice %></p>

<p>
  <strong>Nam recipes:</strong>
  <%= @recipe.nam_recipes %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Preparation:</strong>
  <%= @recipe.preparation %>
</p>

<p>
  <strong>Preparation time:</strong>
  <%= @recipe.preparation_time %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(@recipe.photo, :style => 'width:150px') %>
</p>

<p>
  <strong>State:</strong>
  <%= @recipe.state %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
<%= link_to "Mas Recetas del mismo Usuario" %> #, recipeof_path(@recipe.user.id)
